<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join party :)</title>
</head>
<body>
    <% let label = '';

        if (type === 'member') {
            label = 'Enter';
        }

        else {
            label = 'Join';
        } 
    %>

    <h2><%= label %> <%= party.name %>!</h2>

    <% if (user) { %>
            <form action='/parties/<%= party.id %>/join' method="POST" id="<%= user.id %>">
                <% if (party.password) { %>
                    <label for="">Password</label>
                    <input type="password" name="password" id="password">
                    <br>
                <% } %>
                <br><input type="submit" value="<%= label %> party">
            </form>
            <p id="msg"><%= msg %></p>
    <% } else { %>
        <hr>
        
        <h2>uh oh!</h2>
        <p>It seems you're not logged in yet!</p>
        <p>click <a href="/login">here</a> to log in or <a href="/signup">here</a> to sign up!!!</p>
    <% } %>
</body>
</html>